
.DS_Store
AlkaliFlat/OrigData/z_001.5.comp(u,0)
AlkaliFlat/OrigData/z_001.5.zip
AlkaliFlat/OrigData/z_001.8.comp(u,0)
AlkaliFlat/OrigData/z_001.8.zip
AlkaliFlat/OrigData/z_002.2.comp(u,0)
AlkaliFlat/OrigData/z_002.2.zip
AlkaliFlat/OrigData/z_002.7.comp(u,0)
AlkaliFlat/OrigData/z_002.7.zip
AlkaliFlat/OrigData/z_003.2.comp(u,0)
AlkaliFlat/OrigData/z_003.2.zip
AlkaliFlat/OrigData/z_003.9.comp(u,0)
AlkaliFlat/OrigData/z_003.9.zip
AlkaliFlat/OrigData/z_004.8.comp(u,0)
AlkaliFlat/OrigData/z_004.8.zip
AlkaliFlat/OrigData/z_005.8.comp(u,0)
AlkaliFlat/OrigData/z_005.8.zip
AlkaliFlat/OrigData/z_007.comp(u,0)
AlkaliFlat/OrigData/z_007.zip
AlkaliFlat/OrigData/z_008.5.comp(u,0)
AlkaliFlat/OrigData/z_008.5.zip
AlkaliFlat/OrigData/z_010.3.comp(u,0)
AlkaliFlat/OrigData/z_010.3.zip
AlkaliFlat/OrigData/z_012.5.comp(u,0)
AlkaliFlat/OrigData/z_012.5.zip
AlkaliFlat/OrigData/z_015.1.comp(u,0)
AlkaliFlat/OrigData/z_015.1.zip
AlkaliFlat/OrigData/z_018.3.comp(u,0)
AlkaliFlat/OrigData/z_018.3.zip
AlkaliFlat/OrigData/z_022.2.comp(u,0)
AlkaliFlat/OrigData/z_022.2.zip
AlkaliFlat/OrigData/z_027.comp(u,0)
AlkaliFlat/OrigData/z_027.zip
AlkaliFlat/OrigData/z_032.7.comp(u,0)
AlkaliFlat/OrigData/z_032.7.zip
AlkaliFlat/OrigData/z_039.6.comp(u,0)
AlkaliFlat/OrigData/z_039.6.comp(u,0) 2
AlkaliFlat/OrigData/z_039.6.zip
AlkaliFlat/OrigData/z_048.1.comp(u,0)
AlkaliFlat/OrigData/z_048.1.zip
AlkaliFlat/OrigData/z_058.3.zip
AlkaliFlat/OrigData/z_070.7.comp(u,0)
AlkaliFlat/OrigData/z_070.7.zip
AlkaliFlat/OrigData/z_085.7.comp(u,0)
AlkaliFlat/OrigData/z_085.7.zip
AlkaliFlat/OrigData/z_103.9.comp(u,0)
AlkaliFlat/OrigData/z_103.9.zip
AlkaliFlat/OrigData/z_125.9.comp(u,0)
AlkaliFlat/OrigData/z_125.9.zip
AlkaliFlat/OrigData/z_152.7.comp(u,0)
AlkaliFlat/OrigData/z_152.7.zip
AlkaliFlat/OrigData/z_185.1.comp(u,0)
AlkaliFlat/OrigData/z_185.1.zip
AlkaliFlat/OrigData/z_224.4.comp(u,0)
AlkaliFlat/OrigData/z_224.4.zip
AlkaliFlat/OrigData/z_272.1.comp(u,0)
AlkaliFlat/OrigData/z_272.1.zip
AlkaliFlat/OrigData/z_329.9.comp(u,0)
AlkaliFlat/OrigData/z_329.9.zip
AlkaliFlat/OrigData/z_400.comp(u,0)
AlkaliFlat/OrigData/z_400.zip
DuneField/DuneData/RSSData/x1580.comp(u,0)
DuneField/DuneData/RSSData/x1580.comp(u,2)
DuneField/DuneData/RSSData/x1900.comp(u,0)
DuneField/DuneData/RSSData/x1900.comp(u,2)
DuneField/DuneData/RSSData/x2217.comp(u,0)
DuneField/DuneData/RSSData/x2217.comp(u,2)
DuneField/DuneData/RSSData/x2586.comp(u,0)
DuneField/DuneData/RSSData/x2586.comp(u,2)
DuneField/DuneData/RSSData/x3017.comp(u,0)
DuneField/DuneData/RSSData/x3017.comp(u,2)
DuneField/DuneData/RSSData/x3518.comp(u,0)
DuneField/DuneData/RSSData/x3518.comp(u,2)
DuneField/DuneData/RSSData/x4105.comp(u,0)
DuneField/DuneData/RSSData/x4105.comp(u,2)
DuneField/DuneData/RSSData/x4788.comp(u,0)
DuneField/DuneData/RSSData/x4788.comp(u,2)
DuneField/DuneData/RSSData/x5585.comp(u,0)
DuneField/DuneData/RSSData/x5585.comp(u,2)
DuneField/DuneData/RSSData/x6516.comp(u,0)
DuneField/DuneData/RSSData/x6516.comp(u,2)
DuneField/DuneData/RSSData/x7601.comp(u,0)
DuneField/DuneData/RSSData/x7601.comp(u,2)
DuneField/WSS/bak.WallStress.tar.xz
DuneField/WSS/WallStress.DuneField:tau_wall()
DuneField/WSS/WallStress.tar.xz
AlkaliFlat/OrigData/z_001.5.zip
AlkaliFlat/OrigData/z_001.8.zip
AlkaliFlat/OrigData/z_002.2.zip
AlkaliFlat/OrigData/z_002.7.zip
AlkaliFlat/OrigData/z_003.2.zip
AlkaliFlat/OrigData/z_003.9.zip
AlkaliFlat/OrigData/z_004.8.zip
AlkaliFlat/OrigData/z_005.8.zip
AlkaliFlat/OrigData/z_007.zip
AlkaliFlat/OrigData/z_008.5.zip
AlkaliFlat/OrigData/z_010.3.zip
AlkaliFlat/OrigData/z_012.5.zip
AlkaliFlat/OrigData/z_015.1.zip
AlkaliFlat/OrigData/z_018.3.zip
AlkaliFlat/OrigData/z_022.2.zip
AlkaliFlat/OrigData/z_027.zip
AlkaliFlat/OrigData/z_032.7.zip
AlkaliFlat/OrigData/z_039.6.zip
AlkaliFlat/OrigData/z_048.1.zip
AlkaliFlat/OrigData/z_058.3.zip
AlkaliFlat/OrigData/z_070.7.zip
AlkaliFlat/OrigData/z_085.7.zip
AlkaliFlat/OrigData/z_103.9.zip
AlkaliFlat/OrigData/z_125.9.zip
AlkaliFlat/OrigData/z_152.7.zip
AlkaliFlat/OrigData/z_185.1.zip
AlkaliFlat/OrigData/z_224.4.zip
AlkaliFlat/OrigData/z_272.1.zip
AlkaliFlat/OrigData/z_329.9.zip
AlkaliFlat/OrigData/z_400.zip
DuneField/WSS/WallStress.tar.xz
